/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

app/Http/Controllers/Auth/RegisterController.php
resources/views/auth/register.blade.php
composer.lock
packages.txt
public/js/mbt-biziz.js
.env
bootstrap/storage/